body {
    background-color:slategray;
}

section {
  margin: 30px;
}

.jumbotron {
    padding: 10px;
  }

.quizInfo {
    text-align: center;
    padding-top: 50px;
    font-family: fantasy;
    color: cyan;
    text-shadow: 2px 2px slategray;
  }

.instructionsP {
    text-align: center;
    color: slategray;
    text-shadow: 1px 1px cyan
  }

/* hover button color */
#highScoresBtn:hover {
  background-color: slategray
}

/* timer */
#timer {
  text-align: right;
  font-size: 18px;
  color: slategray;
  float: right;
}

.questions {
  padding: 10px;
  margin: 10px;
  color: slategrey;
  font-weight: bold;
  font-size: 20pt;
  text-shadow: 2px 2px cyan;
}

#questionList {
  padding: 10px;
  margin: 10px;
  color: cyan;
  font-weight: bold;
  font-size: 20pt;
  text-shadow: 2px 2px slategray;
}

.wrongAnswer {
  font-size: 20pt;
  color: hotpink;
  text-align: center;
}

.rightAnswer {
  font-size: 20pt;
  color: hotpink;
  text-align: center;
}

#scores {
  color: cyan;
  text-align: center;
}

.btn:hover {
  background-color: slategray
}

.btn {
  margin: 10px;
  color: cyan;
  background-color: hotpink;
  margin-left: 10px;
  font-size: 18pt;
  text-align: left;
  padding: 5px;
  border-radius: 10px;
}

  /* this is the footer */
h6 {
    font-family: fantasy;
    color: cyan;
    text-align: center;
    background-color: hotpink;
    font-size: 24pt;
    padding: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0;
    }